:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    width: 100%;
    border-bottom: 1px solid #456;

    .accordian-item {
        background: inherit;

        .title {
            padding: 5px;
        }

        .content {
            display: none;
            padding: 5px;
        }

        &:hover {
            .title {
                background: #234;
                cursor: pointer;
            }
        }

        &.open {
            .content {
                display: flex;
            }
        }
    }
}
