.accordian-item {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    width: 100%;
    border-bottom: 1px solid #456;
    background: inherit;

    .title {
        padding: 5px;
    }

    .content {
        display: none;
        padding: 5px;
    }

    &.open {
        .content {
            display: flex;
        }
    }
}
