@use "sass:color";
@use "src/styles/vars";

$menuItemColor: rgb(156, 201, 100);
$menuItemBg: #123;

.app-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    background: var(--app-header-bg);
    height: var(--app-bg-image-size);
    z-index: 10;
    background: var(--app-bg, #123) url("public/images/bean.svg") repeat;
    background-size: var(--app-bg-image-size);

    a {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px 0 20px;
        height: var(--app-bg-image-size);
        min-height: 100%;
        max-width: 200px;
        background: $menuItemBg;
        color: $menuItemColor;
        //background: #123;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        margin: 0;

        &:hover {
            background: rgb(17, 34, 51);
            background: linear-gradient(0deg, rgba(17, 34, 51, 1) 0%, rgba(34, 51, 68, 1) 40%);
            color: color.adjust($menuItemColor, $lightness: 15%);
        }

        &.active {
            background: rgb(17, 34, 51);
            background: linear-gradient(0deg, rgba(17, 34, 51, 1) 0%, rgba(34, 51, 68, 1) 40%);
            color: rgb(255, 216, 171);
        }

        &.logo {
            font-size: 0.9em;
            font-weight: bold;
            color: rgb(255, 198, 93);
        }
    }

    .last {
        height: 5vw;
        min-height: 100%;
        flex: 1 0 auto;
        //background: rgba(0, 0, 0, 0.2);
    }
}
