:host {
    display: block;
    padding: 10px;
    background: #aa3;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
}

:host(:hover) {
    display: block;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
    //background: lighten(#aa3, 15%);
    box-shadow: inset 1px 1px 40px lighten(#aa3, 20%);
}
