#roast-popup {
    display: none;
    position: absolute;
    right: -10px;
    top: -10px;
    background: rgb(39, 184, 102);
    color: white;
    padding: 15px 25px 10px;
    z-index: 11;
    font-weight: bold;
    font-size: 1.2rem;
    min-width: 150px;
    text-align: right;
    box-shadow: -2px 2px 15px rgba(0, 5, 10, 0.5);
    border-radius: 20px;
    background: rgb(39, 184, 102);
    background: radial-gradient(circle, rgba(39, 184, 102, 1) 44%, rgba(26, 134, 93, 1) 100%);

    .title {
        font-size: 0.75em;
        line-height: 0.75em;
        font-weight: bold;
        color: #456;
    }

    .status {
        color: rgb(0, 255, 0);
        text-shadow: 1px 1px 1px #123;
    }

    .runtime {
        font-size: 0.8em;
        margin-top: 10px;
        text-shadow: 1px 1px 1px #123;

        .label {
            font-size: 0.75em;
            line-height: 0.75em;
        }

        span {
            font-size: 1.5em;
            color: rgb(254, 254, 145);
            text-shadow: 1px 1px 2px #123;
        }
    }

    &:hover {
        cursor: pointer;
        background: rgb(53, 211, 121);
    }

    &.paused {
        background: rgb(216, 171, 86);
        &:hover {
            background: rgb(255, 203, 107);
        }

        .status {
            color: rgb(218, 112, 0);
        }
    }

    &.show {
        display: block;
    }
}
