:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: #1a2b42;
    margin: 0 auto;
    background-color: var(--app-shell-background-color);
}

main {
    flex-grow: 1;
    text-align: left;
}
