:root {
    --default-font: "Coffee Green";
    --default-radius: 10px;
    --default-font-size: 25px;
    --default-color: #def;
    --default-letter-spacing: 2px;
    --default-line-height: 1.1em;
    --default-item-spacing: 2px;

    --radius-small: 5px;
    --radius-medium: 10px;
    --radius-large: 15px;

    --font-default: Arial;
    --font-headers: "Coffee Green";
    --font-label: "Coffee Green";

    --input-font: "Coffee Green";
    --input-padding: 4px;
    --input-font-size: 1.2rem;
    --input-color: var(--default-color);
    --input-background: #123;
    --input-shadow: inset 1px 1px 3px rgba(5, 5, 10, 0.5);
    --input-outline: none;
    --input-letter-spacing: 4px;

    // default app bg
    --app-bg: #012;
    --app-header-bg: #012;
    --app-bg-image-size: max(50px, 2vw);

    // side menu bg for empty part
    --panel-bg: #123;
    --panel-bg-faded: rgba(17, 34, 51, 0.9);
    --panel-section-bg: rgba(34, 51, 68, 0.5);
    --panel-radius: 10px;
    --panel-min-width: 250px;

    --page-bg: #123;
    --page-section-bg: #234;

    --button-bg: rgb(54, 75, 98);
    --button-bg-hover: rgb(65, 92, 122);
    --button-bg-active: rgb(67, 93, 118);
    --button-bg-active-hover: #486a8d;
    --button-height: 30px;
    --button-color: rgb(94, 177, 168);
    --button-color-hover: rgb(113, 255, 238);
    --button-color-active: rgb(90, 242, 224);
    --button-color-active-hover: rgb(111, 255, 255);
    --button-radius: 5px;
    --button-padding: 5px;

    --label-color: rgb(160, 188, 192);

    --link-color: rgb(66, 201, 255);
    --link-color-hover: rgb(96, 242, 255);
}
