:root {
    --default-radius: 10px;

    // default app bg
    --app-bg: #012;
    --app-header-bg: #012;
    --app-bg-image-size: max(50px, 2.5vw);

    // side menu bg for empty part
    --panel-bg: #123;
    --panel-bg-faded: rgba(17, 34, 51, 0.9);
    --panel-section-bg: rgba(34, 51, 68, 0.5);
    --panel-radius: 10px;

    --page-bg: #123;
    --page-section-bg: #234;

    --button-bg: #234;
    --button-bg-hover: #234;
    --button-color: rgb(168, 173, 179);
    --button-color-alt: rgb(231, 244, 255);
    --button-color-hover: rgb(113, 255, 238);

    --label-color: rgb(160, 188, 192);
}
