@import "../../styles";

#app {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    flex-shrink: 0;
    height: 100vh;
    min-height: 800px;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    color: var(--app-color, white);
    background: var(--app-bg); //var(--app-bg, #123) url("public/images/bean.svg") repeat;

    .context {
        display: flex;
        flex-grow: 1;
        overflow: hidden;

        // height: 100%;
        // width: 100%;
        // display: flex;
        // flex-direction: column;
        // flex: 1 0 100%;

        .page {
            flex: 1 0 100%;
            max-height: 100%;
            overflow: auto;
            color: white;
            display: flex;
            flex-direction: row;
            background: var(--page-bg, rgb(51, 51, 17));
        }
    }
}

// input,
// select,
// .number {
//     font-size: 1.1em;
//     font-family: var(--font-input);
//     letter-spacing: 1px;
// }
