@import "../../styles";

#app {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    background: var(--app-bg, #123);
    color: var(--app-color, white);
    background: var(--app-bg, #123) url("public/images/bean.svg") repeat;
    background-size: var(--app-bg-image-size);

    .context {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;

        .page {
            flex: 1 0 100%;
            color: white;
            display: flex;
            flex-direction: row;
            background: var(--page-bg, #123);
        }
    }
}

// input,
// select,
// .number {
//     font-size: 1.1em;
//     font-family: var(--font-input);
//     letter-spacing: 1px;
// }
