@mixin font($name, $location, $type, $weight: 500) {
    @font-face {
        font-family: $name;
        font-weight: $weight;
        src:
            local($name),
            url($location) format($type);
    }
}

@include font("Coffee Bean", "public/fonts/Coffee Bean.ttf", "truetype");
@include font("Coffee Green", "public/fonts/Coffee Green.otf", "opentype");
@include font("Coffee Extra", "public/fonts/coffee_extra/Coffee Extra.otf", "opentype");
@include font("Coffee Menu", "public/fonts/coffee_menus/Coffee Menus_personal use.ttf", "truetype"); //
