@use "src/styles/vars";

#roast {
    display: flex;
    flex: 1 0 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: #012;

    .panel-menu {
        flex: 0.1 0 20%;
        width: 20%;
        padding: 20px 10px;
        border-right: 1px solid rgba(#aaa, 0.1);
        background: var(--panel-bg);

        .accordian {
            .accordian-item {
                margin: 5px 0;

                .title {
                    padding: 10px;
                    font-weight: bold;
                    color: var(--button-color);
                    border-top-left-radius: var(--panel-radius);
                    border-top-right-radius: var(--panel-radius);
                    border-bottom-left-radius: var(--panel-radius);
                    border-bottom-right-radius: var(--panel-radius);

                    &:hover {
                        background: var(--button-bg-hover);
                        color: var(--button-color-hover);
                        cursor: pointer;
                        background: rgb(34, 51, 68);
                        background: linear-gradient(180deg, rgba(34, 51, 68, 1) 0%, rgba(29, 44, 59, 1) 100%);
                    }
                }

                .content {
                    padding: 20px;
                    color: white;
                    background: var(--panel-section-bg);
                    border-bottom-left-radius: var(--panel-radius);
                    border-bottom-right-radius: var(--panel-radius);

                    .panel-content {
                        flex: 1 0 100%;
                        width: 10%;
                        display: flex;
                        flex-direction: column;
                    }
                }

                &.open {
                    .title {
                        color: var(--button-color-hover);
                        background: rgb(34, 51, 68);
                        background: linear-gradient(180deg, rgba(34, 51, 68, 1) 0%, rgba(29, 44, 59, 1) 100%);
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        &:hover {
                            background: rgb(34, 51, 68);
                        }
                    }
                }
            }
        }
    }

    .panel-graph {
        flex: 0.8 0 80%;
        width: 80%;
        padding: 20px;
    }
}

.read-var {
    display: flex;
    width: 100%;

    .label {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .value {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
}
