@use "src/styles/vars";

#roast {
    display: flex;
    flex: 1 0 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: var(--page-pg);

    .panel-menu {
        flex: 0.1 0 20%;
        width: 20%;
        min-width: var(--panel-min-width);
        padding: var(--panel-padding);
        border-right: 1px solid rgba(#aaa, 0.1);
        background: var(--panel-bg);

        .menu {
            .menu-item {
                margin: 5px 0;

                .title {
                    position: relative;
                    padding: 10px;
                    font-family: var(--font-label);
                    font-weight: bold;
                    background: var(--button-bg);
                    color: var(--button-color);
                    border-top-left-radius: var(--panel-radius);
                    border-top-right-radius: var(--panel-radius);
                    //border-bottom-left-radius: var(--panel-radius);
                    //border-bottom-right-radius: var(--panel-radius);

                    &:hover {
                        background: var(--button-bg-hover);
                        color: var(--button-color-hover);
                        cursor: pointer;
                    }

                    &::after {
                        display: block;
                        position: absolute;
                        top: calc(50% - 6px);
                        right: 10px;
                        content: " ";
                        background: url("public/images/arrow.svg") 0 0 no-repeat;
                        background-size: 12px 12px;
                        width: 12px;
                        height: 12px;
                        transform: rotate(0);
                    }
                }

                .content {
                    padding-top: 12px;
                    transition: height var(--panel-animation) var(--panel-animation-type);
                    background: var(--panel-section-bg);
                    border-bottom-left-radius: var(--panel-radius);
                    border-bottom-right-radius: var(--panel-radius);

                    .content-section {
                        padding: 0px 15px 15px 15px;
                        color: white;
                        font-size: 0.9em;
                        background: var(--panel-section-bg);
                        border-bottom-left-radius: var(--panel-radius);
                        border-bottom-right-radius: var(--panel-radius);
                        display: flex;
                        flex-direction: column;
                        transition: height var(--panel-animation) var(--panel-animation-type);
                    }
                }

                &.open {
                    .title {
                        color: var(--button-color-active);
                        background: var(--button-bg-active);
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;

                        &:hover {
                            color: var(--button-color-active-hover);
                            background: var(--button-bg-active-hover);
                        }

                        &::after {
                            display: block;
                            position: absolute;
                            top: calc(50% - 6px);
                            right: 10px;
                            content: " ";
                            background: url("public/images/arrow.svg") 0 0 no-repeat;
                            background-size: 12px 12px;
                            width: 12px;
                            height: 12px;
                            transform: rotate(90deg);
                        }
                    }

                    .content {
                        transition: height var(--panel-animation) var(--panel-animation-type);
                    }
                }
            }
        }
    }

    .panel-graph {
        flex: 0.8 0 80%;
        width: 80%;
        height: 100%;
        padding: var(--panel-padding);
    }
}

#menu-section-set {
    position: relative;

    .label {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-weight: bold;
        color: var(--label-color);
        text-shadow: 1px 1px 3px rgba(0, 0, 10, 1);
    }

    .toggle {
        flex: 1 0 auto;
        display: flex;
        width: 100%;

        .label {
            flex: 1 0 auto;
        }
    }

    .update-message {
        background: var(--panel-bg-faded);
        box-shadow: inset 0px -8px 20px rgba(rgb(226, 236, 84), 0.2);
        padding: 10px;
        font-weight: bold;
        color: var(--button-color-hover);
        text-align: center;
        position: absolute;
        bottom: -15px;
        right: -15px;
        left: -15px;

        .i {
            font-size: 0.7em;
        }

        .value {
            margin-top: -2px;
            display: block;
            font-weight: bold;
            font-size: 1.5em;
            line-height: 1em;
            color: rgb(175, 197, 48);
            padding-left: 2px;
        }
    }
}

.read-var,
.write-var {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3px 0;

    .label {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-weight: bold;
        color: var(--label-color);
        text-shadow: 1px 1px 3px rgba(0, 0, 10, 1);
    }

    .value {
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: var(--input-font-size);

        input {
            width: 100%;
            font-weight: bold;
            margin-right: 4px;
        }
    }

    .action {
        position: relative;

        .updated {
            position: absolute;
            right: -10px;
            top: 0;
        }
    }
}
