#notification {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 101;

    .inner {
        display: flex;
        flex-direction: column;
        color: white;
        background: rgb(64, 114, 64);

        .title {
            padding: 5px;
            width: 100%;
            font-weight: bold;
            font-size: 1.2em;
            background: rgb(81, 153, 81);
        }

        .content {
            padding: 20px;
        }
    }

    &.error {
        .inner {
            background: rgb(160, 71, 71);

            .title {
                background: rgb(190, 80, 80);
            }
        }
    }
}
