#notifications {
    display: flex;
    flex-direction: column;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;
    width: 100%;

    .notification {
        display: flex;
        flex-direction: column;
        width: 100%;

        .inner {
            display: flex;
            flex-direction: column;
            color: white;
            background: rgb(64, 114, 64);

            .title {
                display: flex;
                justify-content: center;
                padding: 5px 5px 7px 5px;
                width: 100%;
                font-weight: bold;
                font-size: 1.1em;
                background: rgb(81, 153, 81);
            }

            .content {
                display: flex;
                justify-content: center;
                padding: 20px;
            }
        }

        &.error {
            .inner {
                background: rgb(160, 71, 71);

                .title {
                    background: rgb(190, 80, 80);
                }
            }
        }
    }
}
