// Toggle.scss
.toggle {
    display: flex;
    $btnsSize: 16px;
    $padding: 2px;

    .toggle-switch {
        width: calc((#{$btnsSize} * 2) + (#{$padding}* 2));
        height: calc((#{$btnsSize}) + (#{$padding}* 2));
        background: #ccc;
        border-radius: calc(#{$btnsSize} * 1.5);
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s;

        &.on {
            background: #4caf50;

            .toggle-switch {
                transform: translateX($btnsSize);
            }
        }

        &.off {
            background: #ccc;

            .toggle-switch {
                transform: translateX(0);
            }
        }

        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;

            &:hover {
                cursor: not-allowed;
            }
        }

        .toggle-handle {
            width: $btnsSize;
            height: $btnsSize;
            background: white;
            border-radius: 50%;
            position: absolute;
            top: $padding;
            left: $padding;
            transition: transform 0.3s;
        }
    }
}
