.menu-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: inherit;

    > .title {
        padding: 5px;
    }

    > .content {
        height: 0;
        overflow: hidden;
        interpolate-size: allow-keywords;
    }

    &.open {
        > .content {
            height: auto;
        }
    }
}
