:host {
    .app-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        background: #012;

        app-link {
            padding: 20px;
            display: block;
            height: 20px;
            background: #123;
            color: white;
            cursor: pointer;
            margin: 0;

            a {
                padding: 0;
                display: inline-flex;
                align-items: center;
                margin: 0;
                color: red;
            }

            &:hover {
                background: #234;
            }

            &.logo {
                font-size: 1.25rem;
                background: #345;
            }
        }
    }
}
