:host {
    width: 100%;
    font-size: 20pt;
    color: white;
    background: #234;
    padding: inherit;
    margin: inherit;

    h4 {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
