@mixin input() {
    font-family: var(--font-input);
    padding: var(--input-padding);
    font-size: 40px; // var(--input-font-size);
    color: var(--color-input-dark);
    background: rgb(50, 60, 70);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    border-radius: var(--input-radius);
    outline: none;
    letter-spacing: 4px;
}
