@mixin input() {
    font-family: var(--input-font);
    padding: var(--input-padding);
    font-size: var(--input-font-size);
    color: var(--input-color);
    background: var(--input-background);
    box-shadow: var(--input-shadow);
    border-radius: var(--input-radius, 5px);
    border: var(--input-border, none);
    outline: var(--input-outline, none);
    letter-spacing: var(--input-letter-spacing, 1px);
}
